:root {
    --back: #111111;
    --backAdv: #111112;
    --main: #272729;
    --grey: #8e8e93;
    --purple: #5b59e6;
    --red: #e65959;
    --green: #59e667;
    --white: #ffffff;
}

* {
    
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--back);
}

header {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo {
    padding-inline: 15px;
}

.header-logo img {
    height: 100px;
}

.header-google {

}

.header-google img {
    height: 64px;
}

.header-vk {
    padding-inline: 15px;
}

.header-vk img {
    border-radius: 10px;
    height: 64px;
}

.container {
    color: var(--white);
    text-align: center;
    padding: 15px;
    width: 350px;
    margin: 0 auto;
}

.wrapper-button {
    font-size: 20px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: var(--main);
}

.wrapper-button span {
    align-self: center;
}

.wrapper-button-arrow {
    transition: all 0.3s;
}

.wrapper-button-arrow::after {
    /* content: '▼'; */
}

.ri-arrow-down-s-line {
    font-size: 30px;
}

.wrapper-content {
    display: none;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--main);
    max-height: 400px;
    width: 100%;
}
.searchbar {
    display: flex;
    justify-content: space-between;
}

.ri-search-line {
    font-size: 20px;
    margin-left: 3px;
    align-self: center;
}

.search-input {
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 90%;
}

.search-input:focus-visible {
    outline-color: var(--purple);
    outline-offset: 0px;
    outline-style: solid;
    outline-width: 3px;

}

.search-list {
    margin-top: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.search-list::-webkit-scrollbar {
    width: 7px;
}

.search-list::-webkit-scrollbar-track {
    background: var(--white);
    border-radius: 10px;
}

.search-list::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 10px;
}

.search-list-element {
    font-size: 20px;
    text-align: left;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white);
}

.search-list-element:hover {
    background-color: var(--back);
}

.wrapper.active .wrapper-content {
    display: block;
}

.wrapper.active .wrapper-button-arrow {
    transform: rotate(-180deg);
}

#wrapper-3 {
    margin-bottom: 15px;
}

.calendar-shed {
    color: var(--white);
    text-decoration: none;
}